<div class="other-view-holder"  id="account_page">
  <h3 class="other-views-header"><%= session[:current_user].user_name%>'s cars</h3>
  <table>
    <thead class="table-header">
    <div align="center">
    <tr>
    <td> plate </td>
    <td> state </td>
    <td> make </td>
    <td> model </td>
    <td> style </td>
    <td> color </td>
    <td> search </td>
    <td> delete? </td>
    </tr>
    </thead>
    <tbody class ="table-body">
    <%for car in @saved_cars %>
      <tr>
        <td><%=car['plate']%></td>
        <td><%=car['state']%></td>
        <td><%=car['make']%></td>
        <td><%=car['model']%></td>
        <td><%=car['style']%></td>
        <td><%=car['color']%></td>
      <form action="/" method="post">
        <input type="hidden" name="plate" value="<%=car['plate']%>"></input>
        <input type="hidden" name="state" value="<%=car['state']%>"></input>
        <input type="hidden" name="make" value="<%=car['make']%>"></input>
        <input type="hidden" name="model" value="<%=car['model']%>"></input>
        <input type="hidden" name="style" value="<%=car['style']%>"></input>
        <input type="hidden" name="color" value="<%=car['color']%>"></input>
      <td><input type="submit" class="car-search-btn" value="" tooltip="search for car"></input></form></td>
      <td>

      <form action="/account/delete_car/<%=car['plate']%>" method="post">
        <input type="submit" class="car-delete-btn" value="" tooltip="delete this car"></input></form>
      </td></tr>
      <% end %>
    </tbody>
</div>
