<div class="other-view-holder"  id="car-search-results">
  <h3 class="other-views-header"> full search results: </h3>
  <table>
    <thead class="table-header">
    <div align="center">
    <tr>
    <td> plate </td>
    <td> state </td>
    <td> make </td>
    <td> model </td>
    <td> style </td>
    <td> color </td>
    <td> location </td>
    <td> add </td></tr>
    </thead>
    <tbody class ="table-body">
    <% for car in @possible_matched_cars%>
    <tr class="table-row">
      <form action="account/add_car" method="post">
      <td><%=car['plate']%></td>
      <td><%=car['state']%></td>
      <td <%if car['make'] != @user_car['make']%> class="strike"<%end%>><%=car['make']%></td>
      <td <%if car['model'] != @user_car['model']%> class="strike"<%end%>><%=car['model']%></td>
      <td <%if car['style'] != @user_car['style']%> class="strike"<%end%>><%=car['style']%></td>
      <td <%if car['color'] != @user_car['color']%> class="strike"<%end%>><%=car['color']%></td>
      <td><%=car['towed_to_address']%> | <span class="phone-number"><%=car['tow_facility_phone']%></span></</td>
      <input type="hidden" name="plate" value="<%=car['plate']%>"></input>
      <input type="hidden" name="state" value="<%=car['state']%>"></input>
      <input type="hidden" name="make" value="<%=car['make']%>"></input>
      <input type="hidden" name="model" value="<%=car['model']%>"></input>
      <input type="hidden" name="style" value="<%=car['style']%>"></input>
      <input type="hidden" name="color" value="<%=car['color']%>"></input>
      <td><input type="submit" class="car-add-btn" value="" tooltip="add to My Cars"></input></td></tr>
      </form>
      <% end %>
  </tbody>
  </table>
</div>
