<div class="other-view-holder"  id="secondary_results">
  <h3 class="other-views-header"> full search results: </h3>
  <% for car in @possible_matched_cars %>
  <li>
      <form action="/addcar" method="post">
      Plate: <%=car.plate%>,
      State: <%=car.state%>,
      Make: <%=car.make%>,
      Model: <%=car.model%>,
      Style: <%=car.style%>,
      Color: <%=car.color%>,
      Location: <%=@plate_match_car.towed_to_address%><%=@plate_match_car.tow_facility_phone%>
      <input type="hidden" name="plate" value="<%=car.plate%>"></input>
      <input type="hidden" name="state" value="<%=car.state%>"></input>
      <input type="hidden" name="plate" value="<%=car.make%>"></input>
      <input type="hidden" name="state" value="<%=car.model%>"></input>
      <input type="hidden" name="plate" value="<%=car.style%>"></input>
      <input type="hidden" name="state" value="<%=car.color%>"></input>
      <input type="submit" class="car-add-btn" value="add car"></input> 
      </form>
  </li>
  <% end %>
</div>
